*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: invert;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 35px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
.hiden {
  overflow: hidden;
}

.mobile_phone {
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  border-radius: 50%;
}
.mobile_phone span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mobile_phone span img {
  width: 70%;
  height: 70%;
  animation: phone_mobile linear 1.2s forwards infinite;
}

@font-face {
  font-family: "Geometria";
  font-weight: 700;
  src: url("../font/Geometria-Bold.ttf");
}
@font-face {
  font-family: "Geometria";
  font-weight: 500;
  src: url("../font/Geometria-Medium.ttf");
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 2;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}
nav ul li {
  margin-left: 30px;
}
nav ul li a {
  color: white;
  display: block;
  cursor: pointer;
  font-family: "Geometria";
  font-size: 22px;
  padding-bottom: 10px;
  transition: all 1s;
}
nav ul li a:hover {
  border-bottom: 3px solid #C53720;
}
nav ul .button_form {
  border: 3px solid #C53720;
  margin-bottom: 0;
  transition: all 0.5s;
  padding: 0 10px;
}
nav ul .button_form:hover {
  background-color: #C53720;
}
nav ul .button_form a:hover {
  border: none;
}

.burger {
  width: 26px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.burger span {
  width: 26px;
  display: block;
  height: 2px;
  background-color: #000000;
  transition: all 0.2s;
}

.active-burger {
  position: relative;
}
.active-burger span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
}
.active-burger span:nth-child(2) {
  display: none;
}
.active-burger span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 8px;
}

main {
  width: 100%;
}

.golovna {
  position: relative;
  overflow-x: hidden;
  height: 720px;
  width: 100%;
}
.golovna .container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.golovna .container .image_baner {
  margin-bottom: 150px;
}

.golovna-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.golovna-slider .swiper-wrapper {
  display: flex;
}
.golovna-slider .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.golovna-slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  background-image: url("../img/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.about .container h2 {
  text-align: center;
  font-family: Geometria;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.about .container p {
  font-family: Geometria;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about .container .separator {
  width: 700px;
  height: 3px;
  border-radius: 2px;
  background-color: #C53720;
  margin: 0 auto;
  margin-bottom: 20px;
}
.about .container .grid {
  padding-top: 40px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about .container .grid h3 {
  text-align: center;
  font-family: Geometria;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.about .container .grid p {
  font-size: 18px;
}
.about .container .grid .separator {
  width: 80%;
  margin-top: 20px;
}

.avtor {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/avtor.jpg");
  position: relative;
  padding-bottom: 40px;
}
.avtor .black-fon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.avtor .container {
  position: relative;
  z-index: 2;
}
.avtor .container h2 {
  padding-top: 40px;
  color: #FFF;
  text-align: center;
  font-family: Geometria;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.avtor .container .separator {
  width: 700px;
  height: 3px;
  border-radius: 2px;
  background-color: #C53720;
  margin: 0 auto;
  margin-bottom: 20px;
}
.avtor .content {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}
.avtor .content .text {
  width: 50%;
  color: white;
  font-family: Geometria;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.avtor .content .image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.contact {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/porsche-normal 1.jpg");
}
.contact .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact .container h2 {
  color: #FFF;
  text-align: center;
  font-family: Geometria;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 1px 3px 1px black;
  padding-bottom: 15px;
}

.mobile_phone {
  display: none;
}

@keyframes phone_mobile {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .mobile_phone {
    display: block;
  }
  nav {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-top: 30px;
  }
  nav.active {
    right: 0;
  }
}/*# sourceMappingURL=style.css.map */